.glassomorphism {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: darkblue;
    z-index: 1;
}
.glassomorphism::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(rgb(57, 142, 240), rgb(218, 18, 218));
    clip-path: circle(50% at 10% 90%);
}
.glassomorphism::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgb(176, 188, 202), rgb(192, 223, 18));
    clip-path: circle(20% at 100% 30%);
}

.glass-card {
    width: 40%;
    height: 600px;
    margin: auto;
    padding: 30px 10px;
    display: flex;
    border-top: 1px solid rgb(184, 184, 184, 0.3);
    border-left: 1px solid rgb(184, 184, 184, 0.3);
    border-radius: 15px;
    z-index: 2;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.3);
}
.content {
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content h2 {
    font-size: 30px;
    font-family: "Arvo", serif;
}
.content span {
    font-family: "Poppins", sans-serif;
}
.content p {
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.link-to-home {
    width: 50%;
    margin: 0px auto;
    padding: 5px;
    background: white;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
    .glass-card {
        width: 80%;
        margin: auto;
    }
}
