.main-div {
    width: 100%;
    margin: auto;
}
.parallax-image-container {
    width: 100%;
    height: 100vh;
    margin-left: 0;
    background-repeat: no-repeat;
}
.message {
    font-size: 40px;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-15%, -40%);
    z-index: 1;
    font-family: "Poppins" sans-serif;
}
.image {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.dummy-div {
    width: 100%;
    margin: auto;
    background: darkblue;
    height: 100vh;

    z-index: 2;
}
